{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
<style>
    .recipe-btn button {
        background: #74992e;
        padding: 2px 4px;
        border: solid 1px red;
    }
</style>

<div class="main">
    {% for recipe in dataSheets %}
        <div class="recipe-container">
            <div class="recipe-img">
                <img src="{{ asset(recipe.image) }}" alt="image de la recette">
            </div>
            <div class="recipe-title">
                <h4>{{ recipe.name }}</h4>
            </div>
            <div class="recipe-description">
                <p>{{ recipe.description }}</p>
            </div>
            
          <div class="recipe-input">
    <!-- Input visible directement inclus dans le formulaire -->
    <form action="{{ path('app_shooping_cart') }}" method="post">
        <input type="number" name="quantity" value="0" min="1" id="quantity_{{ recipe.id }}">
        <input type="hidden" name="recipeId" value="{{ recipe.id }}">
        <button type="submit">Ajouter au panier</button>
    </form>
</div>
        </div>
    {% endfor %}
</div>

<h2>Votre panier</h2>
{% if cartItems is empty %}
    <p>Votre panier est vide.</p>
{% else %}
    <ul>
        {% for item in cartItems %}
            <p>id = {{ item.id }}  et quantiter = {{item.quantity}}</p>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
