{% extends 'base.html.twig' %}

{% block title %}Hello CalculController!{% endblock %}

{% block body %}
   
    <p>commande numéro {{order.id + 1}} :</p>
    <p>fait le {{order.createdAt | date}} par {{order.createdBy}}</p>
    <p>
        {% for item in orderDetails %}
            {{item.nombre}} {{item.nom | capitalize}}s, 
        {% endfor %}
    </p>

    <table>
        <thead>
            <tr>
                <th scope="ingredients">Ingrédients</th>
                <th scope="quantities">Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sortedOrder %} 
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
