{% extends 'base.html.twig' %}

{% block title %}Hello CalculController!{% endblock %}

{% block body %}
    {% set nbr = 4 %}
    {% set commande = order_placeholder %}
    <pre>
        {{ dump(order_placeholder) }}
    </pre>

    <pre>
        {{ dump(commande.recipes) }}
    </pre>
   
    <p>commande numéro {{commande.id + 1}}</p>
    <p>
        {% for item in commande.recipes %}
            {{item.nombre}} {{item.nom | capitalize}}s, 
        {% endfor %}
    </p>

    <table>
        <thead>
            <tr>
                <th>ingrédient</th>
                <th>quantité</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    
    
{% endblock %}
