{% extends 'base.html.twig' %}

{% block title %}Hello CalculController!{% endblock %}

{% block body %}
   
    <p>commande numéro {{order_placeholder.id + 1}} :</p>
    <p>
        {% for item in order_placeholder.recipes %}
            {{item.nombre}} {{item.nom | capitalize}}s, 
        {% endfor %}
    </p>

    <table>
        <thead>
            <tr>
                <th>ingrédient</th>
                <th>quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sortedOrder %} 
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>

    {# <pre>
        {{ dump(sortedOrder) }}
    </pre> #}
    
{% endblock %}
