{% extends 'base.html.twig' %}

{% block title %}Hello CalculController!{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Date de la Commande</th>
            <th>Nom du Restaurant</th>
            <th>Adresse de livraison</th>
        </tr>
    </thead>
    
    <tbody>
        {% for item in orders %}
        <pre>
            {{ dump(item) }}
        </pre>
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.createdAt | date("d/m/Y")}}</td>
                <td><a href="commande_{{item.id}}">{{item.createdBy}}</a></td>
                <td>address</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}