{% extends 'base.html.twig' %}

{% block title %}Hello CalculController!{% endblock %}

{% block body %}
   
    <p>commande numéro {{order.id}} :</p>
    <p>fait le {{order.createdAt | date("d/m/Y")}} par {{order.createdBy | capitalize}}.</p>
     <p>Adresse de livraison : {# {{order.userAccount.address}} #}</p>
    
    <p>
        Contenu de la commande : 
        {% for item in orderDetails %}{% if loop.index > 1 %},{% endif %} {{item.nombre}} {{item.nom | capitalize}}s{% endfor %}.
    </p>

    <table>
        <thead>
            <tr>
                <th scope="ingredients">Ingrédients</th>
                <th scope="quantities">Quantité</th>
                <th scope="units">Unité</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sortedOrder %} 
                <tr>
                    <td>{{item.name | capitalize}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.mesure | replace({"unité": "", "gr":"grammes", "cl":"centilitres"}) | capitalize}}</td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
